In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import sklearn
import seaborn as sns
import numpy as np
import nltk
import math
import os

In [2]:
# Initial question: can you predict crop yield 
# by year based on the total exploitable water resources a country has available?


def convert_to_pandas(filename):
    """
    Convert dataset stored in data/ dir with a filename descriptor into a pandas df
    
    filename - name of file in data/{filename}: string
    """
    if "xlsx" in filename:
        return pd.read_excel(f"data/{filename}")
    if "csv" in filename:
        return pd.read_csv(f"data/{filename}")
    
def crop_yield_specialized_preprocessing(df, total_yield_output=True):
    """
    Performs crop yield specialized preprocessing
    Our class column dataset requires special preprocessing to convert the attainable yields and yield gaps
    into crop yield
    
    df - crop yield input dataframe: DataFrame
    """
    attainable_cols = [col for col in df.columns if "attainable" in col]
    gap_cols = [col for col in df.columns if "gap" in col]
    crop_names = [name.split("_")[0] for name in attainable_cols]
    new_col_names = list()
    
    for crop in crop_names:
        attainable_col_name = [col for col in attainable_cols if crop in col][0]
        gap_col_name = [col for col in gap_cols if crop in col][0]

        new_col_name = f"{crop}_crop_yield"
        new_col_names.append(new_col_name)
        df[new_col_name] = df[attainable_col_name] - df[gap_col_name]
    
    df.rename(columns = {'Entity':'Country'}, inplace = True)
    
    if total_yield_output:
        df['total_yield'] = df[new_col_names].sum(axis=1)
        df = strip_df(df, ["Country", "Year", "total_yield"]) 
        return df
            
    df = strip_df(df, ["Country", "Year"] + new_col_names)
    return df


def aquastat_feature_rename(df, fn, aquastat_feature):
    new_column_value = fn.split(".xlsx")[0]
    df.rename(columns = {aquastat_feature: new_column_value}, inplace = True)
    return df
    
    
    
def strip_df(df, keep_features_list):
    """
    Strips a dataframe of anything except whats included in the keep_features_list
    
    df - input df: DataFrame
    keep_features_list - list of features you want to keep as column name : list[str]
    """
    del_columns = [column for column in df.columns if column not in keep_features_list]
    for col in del_columns:
        df = df.drop([col], axis=1)
    return df
    
def combine_feature_dfs(dfs, feature_merge_list):
    """
    Merges two dataframes based on the column name values provided in the feature_merge_list
    
    df1 - list of input dfs: List[DataFrame]
    feature_merge_list - list of features you want to merge by (Year and Country usually) : list[str]
    """
    
    aquastat_df = dfs[0]
    for aqua_df in dfs[1:]:
        aquastat_df = aquastat_df.merge(aqua_df, on=feature_merge_list, how='outer')
    
    return aquastat_df


def pipeline(aquastat_filenames, crop_yield_filename, aquastat_feature):
    """
    Runs the aquastat and crop yield pipeline
    """
    shared_attributes = ["Country", "Year"]
    crop_df = crop_yield_specialized_preprocessing(convert_to_pandas(crop_yield_filename))
    dfs = []
    for fn in aquastat_filenames:
        temp_df = convert_to_pandas(fn)
        strip_temp_df = strip_df(temp_df, shared_attributes + [aquastat_feature])
        renamed_temp_df = aquastat_feature_rename(strip_temp_df, fn, aquastat_feature)
        renamed_temp_df = renamed_temp_df.dropna()
        dfs.append(renamed_temp_df)
    dfs.append(crop_df)
    combined_df = combine_feature_dfs(dfs, shared_attributes) 
    
    return combined_df.dropna()

In [3]:
# Combining total exploitable water resources (10^9 m3/year) 
# with the various crop yeilds by country and by year

aquastat_file_names = [fn for fn in os.listdir("data/") if ".xlsx" in fn]

aquastat_crop_yeild = pipeline(aquastat_file_names, "Attainable_yields.csv", "value")

aquastat_crop_yeild

        Country  Year  total_renewable_water_resources  \
59      Albania  2018                             30.2
60      Albania  2017                             30.2
61      Albania  2016                             30.2
62      Albania  2015                             30.2
63      Albania  2014                             30.2
...         ...   ...                              ...
10432  Zimbabwe  1974                             20.0
10433  Zimbabwe  1973                             20.0
10434  Zimbabwe  1972                             20.0
10435  Zimbabwe  1971                             20.0
10436  Zimbabwe  1970                             20.0

       agricultural_value_added_percent_of_gdp  \
59                                   18.429476
60                                   19.022127
61                                   19.849993
62                                   19.780225
63                                   19.990153
...                                        ...
10432                                13.822747
10433                                11.305693
10434                                13.466776
10435                                13.129246
10436                                11.579776

       total_exploitable_water_resources  precipitation_index  gdp_per_capita  \
59                                  13.0              1136.00     5257.650696
60                                  13.0              1136.00     4514.204908
61                                  13.0              1136.00     4109.340457
62                                  13.0              1136.00     3939.413126
63                                  13.0              1136.00     4567.281443
...                                  ...                  ...             ...
10432                                1.5               746.72      811.510083
10433                                1.5               712.18      698.192005
10434                                1.5               677.64      588.037380
10435                                1.5               643.10      493.287110
10436                                1.5               645.68      441.744085

       total_internal_renewable_water_resource_per_capita  arable_land_area  \
59                                           9331.399988            611.346
60                                           9326.776621            612.000
61                                           9319.444935            620.300
62                                           9306.306528            615.100
63                                           9287.695875            615.600
...                                                  ...                ...
10432                                        2014.765967           2465.000
10433                                        2085.840681           2415.000
10434                                        2160.767062           2415.000
10435                                        2238.459064           2385.000
10436                                        2317.885740           2335.000

       total_population  total_yield
59             2882.740        87.14
60             2884.169        69.81
61             2886.438        68.46
62             2890.513        71.04
63             2896.305        68.50
...                 ...          ...
10432          6085.074       141.67
10433          5877.726       112.67
10434          5673.911       125.86
10435          5476.982       132.97
10436          5289.303       123.17

[1920 rows x 11 columns]

In [6]:
aquastat_crop_yeild.to_csv("processed_data.csv", index=False)